/* navbar section */
.navbar-brand>img {
    height: 70px;
    width: 80px;
    margin-top: -3px;  
}

.main-menu {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    height: 90px;
    position: fixed;
    min-width: 100%;
    border: 0;
    z-index: 2;
}

.navbar-header {
    height: 90px;
}

.main-menu .navbar-nav > li > a, .navbar-left {
    padding: 35px 7px 25px 7px;
    font-size: 16px;
    line-height: 22px;
    color: #555;
    border-bottom: 3px solid transparent;
    text-transform:uppercase;
    letter-spacing: .1em;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: white;
    color: #9bc844;
}

.main-menu .navbar-nav > li > a:hover {
    color: #0f8145;
    font-weight: bolder;
}

.main-menu .navbar-nav > .active > li > a, .main-menu .navbar-nav > .active > a:hover, .main-menu .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: red;
}

.navbar {
    border: none;
    height: 100%;
    margin-bottom: 0px;
    background-color: white;
    box-shadow: 0px 2px #eee !important;
    border-radius: 0;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand, .navbar-left {
    vertical-align: center;
}

a.logo-text {
    display: block;
    text-decoration: none;
    color: #555 !important;
}

.navbar-left {
    margin-left: -20px;
}

.navbar-brand {
    max-width: 290px; 
    margin-top: 0;
}

.donate {
    margin-top: 21px;
    margin-left: 7px;
    border-radius: 1px;
    color: white;
    background-color: #0f8145;
    letter-spacing: .1em;
}

.donate:hover {
    color: #0f8145;
    background-color: white;
    font-weight: bold;
    border: 2px solid #0f8145;
}

@media screen and (max-width: 855px) {
    .navbar-left {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    a.logo-text {
        display: none;
    }

    .navbar-toggle {
        margin-top: 29px;
        margin-bottom: 29px;
    }

    .navbar-collapse {
        margin: 0;
        background-color: white;
        padding: 0px 30px;
    }

    .main-menu .navbar-nav > li > a {
        padding: 10px 13px;
    }

    .navdo {
        margin: 10px 13px 10px 13px;
    }

}
