/* navbar section */
.navbar-brand>img {
    height: 80px;
    width: 86px;
    margin-top: -12px;  
}
.main-menu {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    height: 90px;
    position: fixed;
    min-width: 100%;
    border: 0;
    z-index: 2;
}

.main-menu .navbar-nav > li > a {
    padding: 33px 13px 25px 13px;
    font-size: 18px;
    line-height: 22px;
    color: #0f8145;
    border-bottom: 3px solid transparent;
    text-transform:uppercase;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: white;
    color: #9bc844;
}

.main-menu .navbar-nav > li > a:hover {
    color: #9bc844; 
    font-weight: bold;
}

.main-menu .navbar-nav > .active > li > a, .main-menu .navbar-nav > .active > a:hover, .main-menu .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: red;
}

.navbar {
    margin-bottom: 0px;
    background-color: white;
    opacity: .8;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    vertical-align: center;
}

.navbar-brand {
    max-width: 300px; 
    margin-top: 0;
}

button.donate.btn-primary.btn-lg > a {
    text-decoration: none;
    color: #0f8145;
}

.donate {
    margin-top: 21px;
    margin-left: 13px;
    border-radius: 15px;
    color: white;
    background-color: #0f8145;
}

.donate:hover {
    color: white;
    background-color: #9bc64e;
}

