html,body
{
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  overflow-y:auto;
}

body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  overflow-y:auto;
  font-family: 'Quicksand' !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.intro {
  font-size: 10px;
}

.Homepage {
  min-height: 568px;
  width: 100%;
  letter-spacing: .5em;
  text-transform: uppercase;
  background-image: url(./images/scenes/b.png);
  background-position: center center;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  z-index: -1;
  padding-left: 6%;
  padding-right: 6%;
  text-align: left;
  margin-bottom: 80px;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$url_0', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$url_0', sizingMethod='scale');
}
  

.HomeContent {
  width: 100%;
  margin-top: 10%;
  padding-top: 30px;
  display: inline-block;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h3 {
  font-size: 65px;
}

.HomeButton {
  background-color: transparent;
  height: 90px;
  width: 200px;
  margin-left: 2%;
  margin-right: 2%;
  border: solid 4px white;
  color: white;
  font-size: 30px;
  font-weight: bolder;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}

.HomeButton:hover {
  color: #0f8145;
  background-color: white;
}

.App-intro {
  font-size: large;
}

.rf {
  height: 500px;
  width: 500px;
  vertical-align: center;
}

iframe, .twitter {
  margin-top: 2%;
  text-align: center;
}

/*Partners*/

.partner-section {
  align-items: center;

}

.partners {
  display: block;
  margin: 0 auto;
  padding: 10px;
  max-width: 800px;
  width: 90%;
}

/*Header*/
.Header {
  text-align: center;
  color: #555;
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 40px;
}

.page-header {
  text-align: center;
  color: #555;
}

/*Content*/
.Content {
  padding: 50px;
  margin: auto;
  width: 70%;
  text-align: left;
}

.divider {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 50px;
}

.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.subscribe {
  padding: 20px 5px;
  text-align: center;
  vertical-align: middle;
  height: 190px;
  width: 100%;
  background-color: #388E3C;
}

span.Header {
  color: white !important;
}

.form-control-lg {
  border-radius: 0;
  border: none;
  height: 46px;
  width: 275px !important;
  font-size: 22px;
  padding: 9px 15px 10px;
  margin: 10px 15px; 
}

.form-control-lg + button {
  letter-spacing: .1em;
  margin: 10px;
  background-color: #00B0FF;
  color: white;
  border-radius: 0;
  border: none;
}

.form-control-lg + button:hover {
  background-color: #2196F3;
  color: white;
}

#left {
    position: fixed;
    background-attachment: fixed;
    width: 50%;
    padding: 0;
    text-align: center;
    vertical-align: center;
    top: 0;
    bottom: 0;
    height: 100%;
}

.l-sec {
  height: 100%;
  width: 100%;
}

#text {
  height: 100vh;
  margin-top: 90px;
  margin-left: 50%;
  padding: 3%;
  font-size: 18px;
}

.l-content {
  padding-top: 230px;
  height: 100%;
  vertical-align: center;
  text-align: center;
  color: white;
  font-size: 70px;
  font-weight: bolder;
  padding-left: 35px;
  padding-right: 35px;
}

.wrd {
  font-size: 45px;
}

.action-text {
  text-align: left;
  color: #555;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
}

.lead {
  font-size: 17px;
}

.featurette-heading {
  margin: 0;
}

/*sections*/
.space {
  margin: 140px 0 0 0!important;
  height: 100%;
  width: 100%;
}

.about {
  margin-top: 90px; 
  height: 100%;
  width: 100%;
  background-image: url(./images/scenes/waterfall_2.png);
  background-size: cover;
  background-position: center center;
}

.action {
  margin-top: 90px; 
  height: 100%;
  width: 100%;
  background-image: url(./images/animals/butterfly-3.png);
  background-size: cover;
  background-position: center center;
}

.contact {
  margin-top: 90px; 
  height: 100%;
  width: 100%;
  background-image: url(./images/animals/parrot.png);
  background-size: cover;
  background-position: center center;
}

.partner {
  margin-top: 90px;
  padding-top: 10px; 
  height: 100%;
  width: 100%;
  background-image: url(./images/products/coffee.png);
  background-size: cover;
  background-position: center center;
}

.donate-img {
  margin-top: 30px;
  padding-top: 60px; 
  height: 100%;
  width: 100%;
  background-image: url(./images/scenes/f_10.png);
  background-size: cover;
  background-position: center center;
}

.do-img {
  max-width: 230px;
  padding: 20px;
  width: 100%;
}

.facts {
  margin-top: 90px; 
  height: 100%;
  width: 100%;
  background-image: url(./images/products/bean.png);
  background-size: cover;
  background-position: center center;
}

.tips {
  margin-top: 90px; 
  height: 100%;
  width: 100%;
  background-image: url(./images/products/coffee.png);
  background-size: cover;
  background-position: center center;
}

.volunteer {
  margin-top: 90px; 
  height: 100%;
  width: 100%;
  background-image: url(./images/animals/bf.png);
  background-size: cover;
  background-position: center center;
}

.help {
  margin-top: 90px; 
  height: 100%;
  width: 100%;
  background-image: url(./images/people/smile.png);
  background-size: cover;
  background-position: center center;
}

.r-p {
  margin-top: 90px; 
  height: 100%;
  width: 100%;
  background-image: url(./images/scenes/home.png);
  background-size: cover;
  background-position: center center;
}

/*images- facts gallery*/
img.img-responsive {
  margin: auto;
  margin-bottom: 30px !important;
}


/*buttons*/
.vol-btn {
  border-radius: 1px;
  color: white;
  background-color: #3185a9;
  letter-spacing: .1em;
}

.vol-btn:hover {
  background-color: white;
  color: #3185a9;
  font-weight: bold;
  border: 2px solid #3185a9;
}

.sa-btn {
  border-radius: 1px;
  color: white;
  background-color: #9ac947;
  letter-spacing: .1em;
}

.sa-btn:hover {
  background-color: white;
  color: #9ac947;
  font-weight: bold;
  border: 2px solid #9ac947;
}

.ev-btn {
  border-radius: 1px;
  color: white;
  background-color: #7bced0;
  letter-spacing: .1em;
}

.ev-btn:hover {
  background-color: white;
  color: #7bced0;
  font-weight: bold;
  border: 2px solid #7bced0;
}

.do-btn {
  margin: 0 !important;
}

/*social buttons*/
.social {
  padding: 10px;
  width: 55px;
  height: 55px;
}

.social:hover {
  width: 65px;
  height: 65px;
}

.rp {
  padding: 10px;
  width: 79px;
  height: 60px;
}

.rp:hover {
  width: 85px;
  height: 65px;
}

/*cards*/

.card {
  padding: 30px 10px;
}

.card-header {
  font-size: 45px !important;
}

.card-img-top {
  padding: 15px;
  margin-left: 15%;
  width: 70%;
}

.card-text {
  font-size: 22px;
}

.tip-btn {
  letter-spacing: 1px;
  border-radius: 0px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  font-size: 16px;
  padding: 12px 15px;
  background-color: #0089fa;
  border: none;
}

.tip-btn:hover {
  font-size: bold;
  background-color: white;
  border: 2px solid #0089fa;
  color: #0089fa;
}


.center-btn {
  text-align: center;
}

.dd {
  margin-left: 10px !important;
  border-radius: 1px;
  width: 190px !important;
  height: 90px !important;
  color: white;
  background-color: #0f8145;
  letter-spacing: .1em;
  font-size: 30px !important;
}

.meat {
  margin-left: -221px;
  margin-top: 35px;
  width: 64%;
  z-index: -1;
}

.card-title {
  font-size: 32px;
  font-weight: bold;
  color: #555;
  padding: 10px;
  text-align: center;
}

/*Footer*/
footer {
  align-content: center;
  border-top: 1px solid #eee !important;
  border-color: black;
  width: 100%;
  position: absolute;
  padding: 40px 10px;
  border: none;
  margin-top: 20px;
  background-color: white;
  border-radius: 0;
}

.footer-header {
  font-weight: bolder;
  padding-bottom: 10px;
  font-size: 20px;
}

.left-footer {
  text-align: center;
}

iframe {
   width:100%;
   height:700px;
}

@media screen and (min-width: 992px) {
  img.img-responsive {
    margin: auto;
    width: 360px;
    height: 240px;
  }

  img.tip {
    width: 100%;
  }

  center-btn. {
    margin-top: 50px;
  }

  .donate-header {
    font-size: 50px;
  }

}

/*Mobile Responsiveness */
@media screen and (max-width: 800px) {

  .contact {
    margin-bottom: 20px;
  }

  #left {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
  }

  #text {
    height: 100%;
    width: 100%;
    padding: 40px;
    margin-top: 0;
    margin-left: 0;
  }

  .l-content {
    padding-top: 20%;
    padding-bottom: 20%;
    font-size: 45px;
  }

  .HomeButton {
    width: 130px;
    height: 60px;
    font-size: 17px;
    border: 2px solid white;
  }

  .Homepage {
    text-align: center;
  }

  .wrd {
    font-size: 30px;
  }

  h1 {
    font-size: 45px;
    font-weight: bold;
  }

  h3 {
    font-size: 35px;
  }

  h4 {
    font-size: 14px;
  }

}

@media screen and (max-width: 767px) {
  .Homepage {
    padding-left: 3%;
  }
}

@media screen and (max-width: 450px) {
  .HomeContent {
    margin-top: 35%;
    text-align: center;
  }

  .Homepage {
    background-image: url(./images/scenes/bb.png);  
  }

  .HomeButton {
    width: 110px;
    height: 60px;
    font-size: 17px;
  }

  .wrd {
    font-size: 22px;
  }

  iframe {
    max-width:390px !important;
    padding-left:5px;
    padding-right: 5px;
  }

}

@media screen and (max-width: 414px) {
  .subscribe {
    height: 250px !important;
  }

  .form-control-lg {
    width: 95% !important;
    margin: 10px auto;
    padding: 10px;
  }

  #text {
    padding: 30px;
    font-size: 16px;
  }

  .Homepage {
    line-height: 110%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
  }

  hr {
    width: 90%;
  }

  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  .Header {
    padding-bottom: 0px; 
  }

  h3.Header {
    margin-bottom: 30px;
    font-size: 25px;
  }

  .HomeButton {
    width: 110px;
    height: 55px;
    font-size: 12px;
    border: 2px solid white;
  }

  .divider {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .carousel .item {
    margin-bottom: 30px;
    height: 350px;
  }

  div#myCarousel.carousel.slide {
    height: 350px;
  }

  .social {
    padding: 5px;
    width: 35px;
    height: 35px;
  }

  .left-footer > span {
    padding-right: 5px;
  }

}

@media screen and (max-width: 360px) {
  .twitter {
    max-width:340px !important;
    padding-left:5px;
    padding-right: 5px;
  }

  .left-footer > span {
    font-size: 10px;
    padding-right: 4px;
    margin-left: -5px;
  }

  .HomeContent {
    margin-top: 40%;
  }
  hr {
    width: 90%;
  }

  h1 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 12px;
  }

  .Header {
    font-size: 20px;
  }

  .HomeButton {
    width: 85px;
    border: 2px solid white;
    height: 50px;
    font-size: 12px;
  }

  .card-title {
    font-size: 25px;
  }
  .card-text {
    font-size: 16px;
  }
}