html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y:auto;
    font-family: 'Quicksand' !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  /*height: 80px;*/
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.intro {
  font-size: 10px;
}

.Homepage {
  width: 100%;
  letter-spacing: .5em;
  text-transform: uppercase;
  background-image: url(./images/scenes/b.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
  padding-left: 6%;
  padding-right: 6%;
  text-align: left;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$url_0', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$url_0', sizingMethod='scale'); 
  margin-bottom: 80px;
  }

.HomeContent {
  width: 100%;
  margin-top: 20%;
  display: inline-block;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h3 {
  font-size: 65px;
}

.btn-section {
  margin-top: 7%;
}

.HomeButton {
  background-color: transparent;
  height: 90px;
  width: 200px;
  margin-left: 2%;
  margin-right: 2%;
  border: solid 5px white;
  color: white;
  font-size: 30px;
  font-weight: bolder;
}

.HomeButton:hover {
  color: #0f8145;
  background-color: white;
}

.App-intro {
  font-size: large;
}

.rf {
  height: 500px;
  width: 500px;
  vertical-align: center;
}

iframe, .twitter {
  margin-top: 2%;
  text-align: center;
}

/*Partners*/
.partners {
  width: 100%;
}

/*Header*/
.Header {
  text-align: center;
  color: #555;
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 40px;
}

.page-header {
  text-align: center;
  color: #555;
}

/*Content*/
.Content {
  padding: 50px;
  margin: auto;
  width: 70%;
  text-align: left;
}

.divider {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 50px;
}

.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.subscribe {
  text-align: center;
  vertical-align: middle;
  height: 90px;
  width: 100%;
  background-color: #0f8145;
}

.sub-form {
  padding: 18px;
}

.form-control-lg {
  margin: 10px; 
}

.form-control-lg + button {
  margin: 10px;
}

#left {
    position: fixed;
    background-attachment: fixed;
    width: 50%;
    padding: 0;
    text-align: center;
    vertical-align: center;
    top: 0;
    bottom: 0;
    height: 100%;
}

.l-sec {
  height: 100%;
  width: 100%;
}

#text {
  margin-top: 90px;
  margin-left: 50%;
  padding: 4%;
  font-size: 18px;
}

.l-content {
  padding-top: 250px;
  height: 100%;
  vertical-align: center;
  text-align: center;
  color: white;
  font-size: 70px;
  font-weight: bolder;
}

.wrd {
  font-size: 55px;
}

.action-text {
  text-align: left;
  color: #555;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
}

/*sections*/

.space {
  margin: 140px 0 0 0!important;
  height: 100%;
  width: 100%;
}

.about {
  margin-top: 90px; 
  height: 100%;
  width: 100%;
  background-image: url(./images/scenes/waterfall_2.png);
  background-size: cover;
  background-position: center center;
}

.action {
  margin-top: 90px; 
  height: 100%;
  width: 100%;
  background-image: url(./images/animals/bird.png);
  background-size: cover;
  background-position: center center;
}

.contact {
  margin-top: 90px; 
  height: 100%;
  width: 100%;
  background-image: url(./images/animals/parrot.png);
  background-size: cover;
  background-position: center center;
}

.facts {
  margin-top: 90px; 
  height: 100%;
  width: 100%;
  background-image: url(./images/products/bean.png);
  background-size: cover;
  background-position: center center;
}

.tips {
  margin-top: 90px; 
  height: 100%;
  width: 100%;
  background-image: url(./images/products/coffee.png);
  background-size: cover;
  background-position: center center;
}

.volunteer {
  margin-top: 90px; 
  height: 100%;
  width: 100%;
  background-image: url(./images/animals/bf.png);
  background-size: cover;
  background-position: center center;
}

.help {
  margin-top: 90px; 
  height: 100%;
  width: 100%;
  background-image: url(./images/people/smile.png);
  background-size: cover;
  background-position: center center;
}

.r-p {
  margin-top: 90px; 
  height: 100%;
  width: 100%;
  background-image: url(./images/scenes/home.png);
  background-size: cover;
  background-position: center center;
}

/*images- facts gallery*/
img.img-responsive {
  margin-bottom: 30px;
}


/*buttons*/
.vol-btn {
  border-radius: 1px;
  color: white;
  background-color: #3185a9;
  letter-spacing: .1em;
}

.vol-btn:hover {
  background-color: white;
  color: #3185a9;
  font-weight: bold;
  border: 2px solid #3185a9;
}

.sa-btn {
  border-radius: 1px;
  color: white;
  background-color: #9ac947;
  letter-spacing: .1em;
}

.sa-btn:hover {
  background-color: white;
  color: #9ac947;
  font-weight: bold;
  border: 2px solid #9ac947;
}

.ev-btn {
  border-radius: 1px;
  color: white;
  background-color: #7bced0;
  letter-spacing: .1em;
}

.ev-btn:hover {
  background-color: white;
  color: #7bced0;
  font-weight: bold;
  border: 2px solid #7bced0;
}

.do-btn {
  margin: 0 !important;
}

/*social buttons*/
.social {
  padding: 10px;
  width: 60px;
  height: 60px;
}

.social:hover {
  width: 65px;
  height: 65px;
}

.rp {
  padding: 10px;
  width: 79px;
  height: 60px;
}

.rp:hover {
  width: 85px;
  height: 65px;
}


/*Footer*/
footer {
  background-color: #eee;
  padding: 20px;
}

.footer-header {
  font-weight: bolder;
  padding-bottom: 10px;
  font-size: 20px;
}

.left-footer > h4 {
  padding-left: 10px;
}

.left-footer {
  text-align: left;
}

.center-footer {
  float: middle;
  text-align: left;
}

.right-footer {
  float: right;
  text-align: left;
}

@media screen and (min-width: 992px) {
  img.img-responsive {
    width: 360px;
    height: 240px;
  }
}

/*Mobile Responsiveness */
@media screen and (max-width: 800px) {

  .contact {
    margin-bottom: 20px;
  }

  #left {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
  }

  #text {
    width: 100%;
    padding: 40px;
    margin-top: 0;
    margin-left: 0;
  }

  .l-content {
    padding-top: 20%;
    padding-bottom: 20%;
    font-size: 45px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
  font-size: 45px;
  font-weight: bold;
  }

  h3 {
    font-size: 35px;
  }

  h4 {
    font-size: 14px;
  }

  .HomeButton {
    width: 120px;
    height: 70px;
    font-size: 18px;
    border: 2px solid white;
  }

  .Homepage {
    padding-left: 3%;
  }
}

@media screen and (max-width: 414px) {

  .HomeContent {
    margin-top: 35%;
  }
  hr {
    width: 90%;
  }

  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  .Header {
    padding-bottom: 0px; 
  }

  h3.Header {
    margin-bottom: 30px;
  }

  .HomeButton {
    width: 95px;
    height: 55px;
    font-size: 13px;
    border: 2px solid white;
  }

  .divider {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .carousel .item {
    margin-bottom: 30px;
    height: 350px;
  }

  div#myCarousel.carousel.slide {
    height: 350px;
  }

}

@media screen and (max-width: 320px) {
  .HomeContent {
    margin-top: 35%;
  }
  hr {
    width: 90%;
  }

  h1 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 12px;
  }

  .HomeButton {
    width: 85px;
    border: 2px solid white;
    height: 50px;
    font-size: 12px;
  }
}

